.container{
    height: 544px;
    width: 100%;
    border: 2px solid black;
    display: flex;  /*initilize flex box*/

    
    /* flex-direction: column; */

    /* flex properties for flex container */

    /* flex-direction: row;  */
    /*by default its row  only*/
    /* flex-direction: column;
    flex-direction: row-reverse;
    flex-direction: column-reverse; */

     /* flex-wrap: wrap;  */
     /*by default its a no wrap only */
    /*its help in responsive design layout*/
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */ 


    /* short hand to wirte both flex-dir and wrap we use flex flow */
    /* flex-flow: row-reverse wrap-reverse; */
    

    /* justify the content in the horizontal direction  */

    /* justify-content: center;  */
    /*IT centreted the box */

    /* justify-content: space-between;  */
    /*it gives equal space between the box */

    /* justify-content: space-evenly; */
    /*it gives equal spaces between the box and also on left and right corner from the parent container*/

    /* justify-content: space-around; */
     /*it gives spaces on the left and right side of the box for all the boxes*/


     /* align-items: center; */
     /* itmes will be in centre  */

     /* align-items: flex-end; */
     /* items will be at the bottom of the container/ */

     /* align-items: flex-start; */
     /* itmes will be  at the top of the container */

     /* align-items: stretch; */



}
.item{
    width: 100px;
    height: 100px;
    background-color: tomato;
    border: 2px solid blue;
    margin: 10px;
    padding: 3px;
}
#item-1{
   
    /* flex properties for flex item */
    /* order: 5; */
    /* higher the order it will shows at the end of the box  */

    /* flex-grow:4; */
    /* it will elong the box in the horizontal direction also inc aswe thr response inc */
    /* flex-shrink: 3; */
    /*it will shirnk the box alo0ng the horizontal dir. when the reponse inc*/

    flex-basis: 420px;
    /*it inc or dec the size of the box*/
    /* when flex-direction is set to row flex-basis will control width */
    /* when flex-direction is set to coloum flex-basis will control hieght */


}
#item-2{
    
    /* order: 4;
    flex-grow: 2; */
    /* flex-shrink: 4; */
    flex-basis: 420px;
}

#item-3{

    /* shorthand flex: flex-grow flex-shrink,flex-basis */
   flex:2 2 1500px;


   
   /* align-self: center; */
   /* it will centre that particular box */

   /* align-self: flex-start; */
   /* it will make it at the top od the container of that particular box */

   /* align-self: flex-end; */
   /* it will be at the end of that particular box */

   
}



