* {
  margin: 0px;
  padding: 0px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.main_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f0f2f5;
  height: 550px;
}
.container {
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-size: 12px; */
  background-color: white;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 2px 6px 12px 0px rgba(59, 59, 59, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 30%;
  height: auto;
  border-radius: 8px;
}
.image {
  width: 20%;
  display: inline-block;
  margin-top: -80px;
}
.itmes {
  margin: 20px 0px;
  display: block;
  text-align: center;
  font-size: 18px;
}
.tag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  align-items: center;
  margin: 20px 0 20px;
}
.input-field {
  width: 87%;
  height: 52px;
  /* line-height: 4px; */
  border-radius: 6px;
  border: 1px solid #dddfe2;
  margin: 7px;
  padding-left: 15px;
}
.input-field:focus{
  outline: none;
}
.login-button {
  background-color: #1877f2;
  color: #f0f2f5;
  font-size: 20px;
  border-color: white;
  width: 92%;
  font-weight: bold;
}
.login-button:hover {
  background-color: rgb(44, 112, 238);
  cursor: pointer;
}
.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.forget-sign {
  align-self: center;
  color: #1877f2;
  font-size: 14px;
  text-decoration-line: none;
}
.forget-sign:hover {
  text-decoration: underline;
}
.dot {
  color: rgb(114, 114, 114);
  margin-bottom: 5px;
  padding: 0px 6px;
  font-size: 12px;
}
.input-field:focus::placeholder {
  color: rgb(187, 185, 185);
  /* opacity: 1; Firefox */
  
}
