/* CSS reset */
body {
  margin: 0px;
  padding: 0px;
  background: url("img/back.jpg") no-repeat fixed center;
  color: rgb(247, 241, 241);
  font-family: "Baloo Bhai 2", cursive;
  height: 500px;
}
.left {
  /* border: 2px solid rgb(223, 68, 68); */
  display: inline-block;
  position: absolute;
  left: 50px;
  top: 20px;
}
.left img {
  width: 100px;
  filter: invert(100%);
}
.left div {
  text-align: center;
  line-height: 0px;
  font-size: 17px;
  color: rgb(8, 8, 8);
}
.mid {
  /* border: 2px solid green; */
  /* display: inline-block; */
  display: block;
  width: 47%;
  margin: 20px auto;
}
.right {
  /* border: 2px solid yellow; */
  display: inline-block;
  position: absolute;
  right: 33px;
  top: 32px;
}
.btn {
  font-family: "Baloo Bhai 2", cursive;
  cursor: pointer;
  margin: 0px 9px;
  background-color: black;
  color: white;
  padding: 4px 14px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 15px;
}
.btn:hover {
  background-color: rgb(102, 101, 101);
}
.navbar {
  display: inline-block;
}
.navbar li {
  display: inline-block;
  font-size: 16px;
}
.navbar li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 25px;
}
.navbar li a:hover {
  color: rgb(247, 244, 244);
  background-color: rgb(136, 136, 136);
  border-radius: 5px;
}
.navbar li a.active {
  text-decoration: underline;
  color: rgb(10, 8, 8);
}
.container {
  border: 2px solid rgb(240, 234, 234);
  margin: 52px 88px;
  padding: 35px 80px;
  width: 35%;
  border-radius: 34px;
  /* height: 100vh; */
}

.form-group input {
  font-family: "Baloo Bhai 2", cursive;

  text-align: center;
  display: block;
  width: 76%;
  padding: 6px;
  border: 2px solid black;
  margin: 8px auto;
  font-size: 18px;
  border-radius: 13px;
}
.container h1 {
  text-align: center;
  color: rgb(5, 4, 4);
  font-weight: bold;
  background-color: rgb(175, 175, 175);
  border-radius: 10px;
}
.container button {
  display: block;
  width: 23%;
  margin: 27px auto;
}
.header {
  /* position:fixed; */

  background-color: #cfcfcf;
  border-radius: 13px;
  margin: 7px 0px;
  padding: 1px;
}
.main-body{
    height: 150vh;
}