
        *{
            box-sizing: border-box;
        }
    header{
            margin: auto;
            border: 2px solid rgb(255, 250, 250); 
            width: 100%;
        }
    img{
           margin: auto;
           width: 34px;
           display: block
           
       }

    h3{
        font-style: italic;
        margin: 5px;
        text-align: center;
    }
    .container{
        margin: auto;
        width: 100%;
        
    }
    .box{
        background-color: gray;
        border: 2px solid black;
        /* color: rgb(173, 173, 230); */
        margin: 4px;
        padding: 26px;
        display: inline-block;
        width: 32%;
        /* box-sizing: border-box; */
       
    }
    body{
        background-color: peachpuff;
    }
    .head{
          padding-top: 6px;
    }
    