.container{
    border: 2px solid black;
    background-color: khaki;
    height: 3000px;
}
body{
    background-color: rgba(255, 197, 122, 0.774);
}
.box{
   
   border: 2px solid rgb(14, 10, 19);
   /* width: 290px; */
   width: 150px;
   height: 150px;
   display: inline-block;

}
/* position in CSS ->Static, Absolute, Relative , Fixed , Sticky */
 /* static position is static  */
#box1{
  position: static;

}
/* absolute position shifts the box from its parent sieds respectand leave no gap*/
#box3{

    position: absolute;
    top: 30px;
     left: 30px;
     /* right: 45px; */
    /* bottom: 30px; */
}
/* relative position shift  the box from its initail position in lefy,right,top, bottom side and leave a gap */
#box5{
    position: relative;
    top: 30px;
    /* left: 30px; */
    right: 45px;
    /* bottom: 30px; */
}
/* fixed position will fixed the box anf will move along when we scroll on window and also its leave no gap after leavinf its position */
#box4{
    position: fixed;
    right: 10px;
    bottom: 20px;
    height: 20px;
    width: 92px;
    border: none;
    /* bottom: unset; */
    
}
/* sticky position will fixed the box and will move along when we scroll on window and also its leave  gap after leaving its position */
/* WITH  siode top only */
#box7{
    position: sticky;
    top: 3px;       
   
}