.box {
    width: 170px;
    height: 170px;
    border: 2px solid black;
  }
  #box1 {
    position: relative;
    top: 49px;
    background-color: green;
    z-index: 36
  }
  /* z index will only work on positionrelative , absolute , fixed or sticky */
  /* visibility hidden hides the space reserve by the element but spaces is still reserved */
  /* display none removes the elememnt and  does not reserve the space of the element */
  #box2 {
    /* display: none; */
    /* visibility: hidden; */
    z-index: -1;
    position: relative;
    top: 14px;
    background-color: rgb(247, 29, 29);
  }
  #box3 {
    background-color: rgb(14, 17, 218);
  }
  #box4 {
    background-color: rgb(206, 243, 39);
  }